@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face{
    font-family: sunshine;
    src: url('../fonts/sunshine.ttf');
    font-weight: normal;
    font-style: normal;
    font-size: 250px;
    letter-spacing: 1rem !important;
} */